/* Body */
body{
  background-color: rgba(249, 249, 255, 0.842);

}

/* Section */
.sobreNosotros{
  font-weight: bolder;
  font-family: 'Roboto', sans-serif; 
  font-size: 1.3em;
}

/* Formulario */
form{
  margin-bottom: 1em;
}

/* Barra de navegación */
p, nav{
  font-family: 'Roboto', sans-serif; 
  font-size: 1.3em;
}

nav a:hover{
border-bottom: 3px solid rgb(243, 243, 243);
background :rgb(87, 160, 209);
}

/* footer */

.footer-style {
    padding-top: 50px;
    background-color: rgb(0, 125, 197);
    ;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
    font-weight: 800;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

footer a{
    color: honeydew;
}
footer a .twitter .facebook .instagram{
    color: white;
    padding: 2em;
}
 
footer .facebook:hover{
    transform: scale(1.1,1.1);
    color: rgb(42, 65, 194);
}

footer .instagram:hover{
    transform: scale(1.1,1.1);
    color: rgb(202, 64, 156);
}
 
footer .twitter:hover{
    transform: scale(1.1,1.1);
    color: rgb(53, 208, 255);
}

/* TABLA GRID - A PARTIR DE ACÁ AGREGO COSAS DE MI OTRO CSS, LAS ORGANIZARÉ MAS TARDE*/

/* Main - Cursos */

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #fff;
  color: #444;
  grid-column-gap: 2px;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
  max-width: 100%;
 
}

.wrapper img {
  width: 100%;
  border-radius: 1em;
}

.wrapper p{
  font-size: 20px;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 1em;
}

.wrapper span{
  color: crimson;
}

.box {
  background-color: rgb(193, 195, 195);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 20px;
  font-size: 1.3em;
  border-radius: 1em;
  text-align: center; 
}

.botonGrid {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:1em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: larger;
  font-weight:bold;
  color:#000000;
  text-align: center;
  transition: all 0.2s;
  margin-top: 1em;
}
.botonGrid:hover{
  color:#000000;
  background-color:#5674fa;
}
@media all and (max-width:30em){
  .botonGrid{
  display:block;
  margin:0.4em auto;
    }
}

/*h2*/

.subtitulo {
  font-family: 'Nunito', sans-serif;
  color: rgb(0, 150, 200);
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center;
  background-image:url(../multimedia/reflejoblur.jpg) ; 
  padding: 5%;
}

/*p*/

.parrafo {
  color: rgb(4, 54, 48);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.8;
  margin: 0%;
  margin-bottom: 2em;
  padding: 1%;
  text-align: center;
  background: rgb(156,195,255);
  background: linear-gradient(90deg, rgba(156,195,255,1) 0%, rgba(58,218,255,0.835171568627451) 47%, rgba(38,218,255,1) 78%, rgba(255,255,255,0.6895133053221288) 100%);
}

p{
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}

/* Main - Tecnicaturas */

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items:initial;
  justify-content: space-evenly;
}

.card {
  flex: 0 0 300px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
} 

.card img {
  max-width: 100%;
  
}

.card div h3{
    text-align: center;
}
.card .text {
  padding: 0 20px 20px;
  text-align: justify; 
}

.botonCar {
  border-radius: 0.25em 0.188em 0.375em / 0.125em 0.25;
  color: rgb(20, 75, 255);
  background-color: rgb(186, 189, 189);
  margin-top: 1em;
  width: 9em;
  font-size: 0.9em;

}

a, .botonCar {
  display: flex;
  justify-content: center;
  align-items: left;
  text-decoration: none;  
}

/* Main - Carreras */

.container-all{
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 3.75em;
  margin-top:0%;
}

.subtituloCar{
  font-size: 1.875em;
  color: rgb(0, 150, 200);;
}

.container-all img{
  width: 18.75em;
  margin-right: 0px;
  margin-bottom: 1.25em;
}

.container-all p{
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 1.25em;
  font-family: 'Roboto', sans-serif;
}

.botonTecCar {
  border-radius: 0.25em 0.188em 0.375em / 0.125em 0.25;
  color: rgb(20, 75, 255);
  background-color: rgb(186, 189, 189);
  margin-top: 1em;
  width: 9em;
  font-size: 0.9em;
  text-decoration: none; 
}

a, .botonTecCar {
  text-decoration: none;   
}

.parraCar {
  border: 0.5em solid rgb(140, 206, 245);
  border-style: outset;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}

/* Colapsed */

 .accordion {
  margin-top: 2em;
  margin-bottom: 2em;
 }