@charset "UTF-8";
/* Body */
body {
  background-color: rgba(249, 249, 255, 0.842); }

/* H1 index*/
.tituloNoAparece {
  display: none; }

/*H1*/
h1 {
  font-family: "Nunito", sans-serif;
  color: black;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center;
  background-image: url(../multimedia/poligonoCeleste.png);
  padding: 5%;
  text-shadow: 2px 4px 3px #7a7a7a; }

/*H2*/
h2 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: black;
  background-image: url(../multimedia/metal.jpg);
  background-size: 200%;
  margin-bottom: 1em;
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 4px 3px #7a7a7a; }

/*H3*/
h3 {
  font-family: "Nunito", sans-serif;
  color: black;
  margin-bottom: 1em;
  text-align: center; }

/*H4*/
h4 {
  font-family: "Nunito", sans-serif;
  color: black;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center; }

/*p*/
.parrafo {
  color: #043630;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  line-height: 1.8;
  margin: 0%;
  margin-bottom: 2em;
  padding: 1%;
  text-align: center;
  background: #9cc3ff;
  background: linear-gradient(90deg, #9cc3ff 0%, rgba(58, 218, 255, 0.835172) 47%, #26daff 78%, rgba(255, 255, 255, 0.689513) 100%); }

/* Barra de Navegación */
nav {
  font-family: "Cairo", sans-serif;
  font-size: 1.3em;
  font-weight: bold; }

.navbar-nav .nav-link.active:hover {
  color: #007dc5;
  border-bottom: 2px solid #007dc5; }

/* Carrusel */
.carousel .card-img-filter {
  filter: brightness(0.4); }

.carousel-caption {
  top: 35%; }
  .carousel-caption .promo {
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 1em;
    color: #ffffff; }
  .carousel-caption p {
    font-size: 2vw;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #ffffff; }

/* Cards Poligonos*/
.cardsContainer .btnPoligonos {
  margin-left: 35%;
  margin-right: 35%; }

.cardsContainer h2 {
  margin-top: 1em; }

.cardsContainer p {
  font-size: 1.1em; }

.cardsContainer .card {
  transition: .6s;
  clip-path: polygon(50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0%); }
  .cardsContainer .card h3 {
    color: #ffffff; }

.cardsContainer .card-effect:hover .card {
  clip-path: polygon(50% 0, 50% 0, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0 50%, 0 50%); }

.card-effect:hover .card-img-overlay {
  transform: scale(0.8); }

.card-img-filter {
  filter: brightness(0.4); }

/* Testimonios (Estas mismas clases las usé para el apartado de Seguimos creciendo junto a vos*/
.testimonios {
  text-align: center;
  background-color: #cccccc;
  padding-bottom: 2em; }
  .testimonios .col-lg-4 {
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 0%; }
  .testimonios h3 {
    margin-bottom: 1em;
    color: #000000;
    font-family: "Nunito", sans-serif; }
  .testimonios p {
    font-size: 1.1em; }

.imagen {
  clip-path: circle(); }

/* Sobre Nosotros */
.sobreNosotrosRow {
  background: linear-gradient(0deg, rgba(40, 151, 222, 0.700718) 0%, rgba(68, 133, 175, 0.678309) 50%, rgba(170, 170, 170, 0.986432) 100%); }
  .sobreNosotrosRow h3 {
    bottom: 10%;
    margin-top: 1em;
    text-align: left; }
  .sobreNosotrosRow .sobreNosotros {
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    text-align: justify;
    margin-right: 15%; }
  .sobreNosotrosRow .logo {
    margin-left: 15%;
    margin-top: 3em;
    margin-bottom: 3em; }

/* galeria */
.galeria {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-bottom: 1em; }
  .galeria .column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px; }
    .galeria .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
      filter: grayscale(1) brightness(0.5);
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s linear; }
      .galeria .column img:hover {
        filter: grayscale(0); }

/* Main - Cursos */
.curso p {
  font-size: 1.1em; }

.curso1 {
  color: #000;
  border-bottom: 2px solid #750085; }

.curso2 {
  color: #000;
  border-bottom: 2px solid #04a086; }

.curso3 {
  color: #000;
  border-bottom: 2px solid #c89317; }

.curso4 {
  color: #000;
  border-bottom: 2px solid #a50000; }

.cardsCursos {
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 2em;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); }
  .cardsCursos:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1); }

/*  Contactos - formulario */
.row .formulario {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em; }

.row label {
  color: #333; }

.row .form-group {
  margin-top: 2em;
  margin-bottom: 2em; }

.row .form-check {
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }
  .row .form-check .hombre {
    margin-right: 1em; }
  .row .form-check .mujer {
    margin-right: 1em; }

.row .mensaje {
  margin-top: 1em;
  margin-bottom: 1em; }

.row .btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 10em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center; }

.row .help-block.with-errors {
  color: #ff5050;
  margin-top: 5px; }

.row .cardFormulario {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 40px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.671); }

.row .bg-light {
  background-color: #dfdfe4 !important; }

/* Main - Tecnicaturas */
.cardsTecnicaturas {
  display: flex;
  flex-wrap: wrap;
  align-items: initial;
  justify-content: space-evenly; }
  .cardsTecnicaturas .card {
    flex: 0 0 340px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    padding-bottom: 40px; }
    .cardsTecnicaturas .card img {
      max-width: 100%; }
    .cardsTecnicaturas .card div h3 {
      margin-top: 1em;
      text-align: center;
      color: black; }
    .cardsTecnicaturas .card div p {
      font-size: 1.1em; }
    .cardsTecnicaturas .card .text {
      padding: 0 20px 20px;
      text-align: center; }
      .cardsTecnicaturas .card .text .btn {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        bottom: 2%;
        right: 0%;
        left: 0%;
        text-align: center; }

a {
  display: flex;
  justify-content: center;
  align-items: left;
  text-decoration: none; }

/* Main - Carreras*/
.cardsCarreras {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: initial;
  justify-content: space-evenly; }
  .cardsCarreras .card {
    flex: 0 0 290px;
    margin: 8px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    padding-bottom: 40px; }
    .cardsCarreras .card img {
      max-width: 100%; }
    .cardsCarreras .card div h3 {
      margin-top: 1em;
      text-align: center;
      color: black; }
    .cardsCarreras .card div p {
      font-size: 1.1em; }
    .cardsCarreras .card .text {
      padding: 0 20px 20px;
      text-align: center; }
      .cardsCarreras .card .text .btn {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        bottom: 2%;
        right: 0%;
        left: 0%;
        text-align: center; }

a {
  display: flex;
  justify-content: center;
  align-items: left;
  text-decoration: none; }

/* Barra de navegación footer*/
.footer-style {
  padding-top: 1em;
  background-color: #007dc5; }

/* footer */
footer {
  color: white; }
  footer h3 {
    text-decoration: underline;
    margin-bottom: 1em;
    color: #ffffff; }
  footer p {
    font-size: 1.1em;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; }
  footer .footer-above {
    padding-top: 10px;
    background-color: #2C3E50; }
  footer .footer-col {
    margin-bottom: 1em; }
  footer .footer-below {
    padding: 25px 0;
    background-color: #233140; }
  footer .fa {
    padding: 10px;
    text-align: center;
    text-decoration: none; }
  footer a {
    color: honeydew;
    display: inline-block; }
    footer a .twitter .facebook .instagram {
      color: white;
      padding: 2em; }
  footer .facebook:hover {
    transform: scale(1.1, 1.1);
    color: #2a41c2; }
  footer .instagram:hover {
    transform: scale(1.1, 1.1);
    color: #ca409c; }
  footer .twitter:hover {
    transform: scale(1.1, 1.1);
    color: #35d0ff; }

/* NavBar */
@media (min-width: 150px) and (max-width: 320px) {
  .navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap; }
    .navbar-brand img {
      width: 160px;
      height: 38px; } }

@media (min-width: 321px) and (max-width: 599px) {
  .navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap; }
    .navbar-brand img {
      width: 220px;
      height: 56px; } }

@media (min-width: 400px) and (max-width: 600px) {
  .navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap; }
    .navbar-brand img {
      width: 270px;
      height: 66px; } }

/* Carrusel Index */
@media (max-width: 280px) {
  .carousel-caption {
    top: 0%;
    padding: 0%;
    margin: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%; }
    .carousel-caption .promo {
      font-size: 0.9em;
      padding: 0%;
      margin: 0%; }
    .carousel-caption p {
      font-size: 0.7em;
      margin: 0%;
      padding: 0%;
      font-weight: bold; }
    .carousel-caption .px-4 {
      padding-bottom: 0rem !important;
      padding-top: 0rem !important;
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
      font-size: 0.7em; } }

@media (max-width: 320px) {
  .carousel-caption {
    top: 0%;
    padding: 0%;
    margin: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%; }
    .carousel-caption .promo {
      font-size: 1.0em;
      padding: 0%;
      margin: 0%; }
    .carousel-caption p {
      font-size: 0.9em;
      margin: 0%;
      padding: 0%; }
    .carousel-caption .px-4 {
      padding-bottom: 0rem !important;
      padding-top: 0rem !important;
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important; } }

@media (min-width: 321px) and (max-width: 414px) {
  .carousel-caption {
    top: 10%;
    padding: 0%;
    margin: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%; }
    .carousel-caption .promo {
      font-size: 1.2em;
      padding: 0%;
      margin: 0%; }
    .carousel-caption p {
      font-size: 0.9em;
      margin: 0%;
      padding: 0%; }
    .carousel-caption .px-4 {
      padding-bottom: 0rem !important;
      padding-top: 0rem !important;
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important; } }

@media (min-width: 415px) and (max-width: 600px) {
  .carousel-caption {
    top: 35%;
    padding: 0%;
    margin: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%; }
    .carousel-caption .promo {
      font-size: 1.3em;
      padding: 0%;
      margin: 0%; }
    .carousel-caption p {
      font-size: 1.1em;
      margin: 0%;
      padding: 0%; }
    .carousel-caption .px-4 {
      padding-bottom: 0rem !important;
      padding-top: 0rem !important;
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important; } }

/* Sobre Nosotros */
@media (max-width: 1250px) {
  .sobreNosotrosRow h3 {
    text-align: center; }
  .sobreNosotrosRow .col-md-7 {
    width: 800%;
    float: center; }
  .sobreNosotrosRow .col-md-5 {
    width: 100%; }
  .sobreNosotrosRow .sobreNosotros {
    margin-right: 0%; }
  .sobreNosotrosRow .logo {
    margin-left: 0%; } }

/* Testimonios */
@media (min-width: 100px) and (max-width: 1400px) {
  .testimonios .col-lg-4 {
    padding: 40px;
    padding-top: 10px; }
  .testimonios .imagen {
    clip-path: circle();
    width: 14vw; } }

@media (min-width: 991px) and (max-width: 1500px) {
  .testimonios .col-lg-4 {
    padding: 40px;
    padding-top: 10px; } }

/*  Poligonos */
@media (min-width: 200px) and (max-width: 300px) {
  .cardsContainer .btnPoligonos {
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 0rem !important;
    padding-top: 0rem !important; }
  .cardsContainer .card {
    transition: none;
    clip-path: none; }
  .cardsContainer h3 {
    color: white; }
  .cardsContainer P {
    font-size: 1.1em;
    color: white; }
  .cardsContainer .card-effect:hover .card {
    clip-path: none; }
  .cardsContainer .card-effect:hover .card-img-overlay {
    transform: none; }
  .cardsContainer .card-img-filter {
    filter: brightness(0.4); } }

@media (min-width: 300px) and (max-width: 800px) {
  .cardsContainer P {
    font-size: 1.2em; } }

/* form contacto */
@media (min-width: 150px) and (max-width: 319px) {
  .sexo {
    padding: 5%; }
  .form-check {
    margin-top: 1em;
    margin-bottom: 1em; }
    .form-check .mujer {
      margin-bottom: 2em; } }

@media (min-width: 320px) and (max-width: 359px) {
  .sexo {
    padding: 20%;
    margin-left: -2em;
    padding-top: 0%;
    padding-bottom: 0%; }
  .form-check {
    margin-top: 1em;
    margin-bottom: 1em; } }

@media (min-width: 411px) and (max-width: 510px) {
  .sexo {
    padding: 40%;
    padding-top: 0%;
    padding-bottom: 0%; }
  .form-check {
    margin-top: 1em;
    margin-bottom: 1em; }
    .form-check .hombre {
      margin-left: 0.3em;
      margin-bottom: 2em; } }

@media (min-width: 360px) and (max-width: 410px) {
  .sexo {
    padding: 40%;
    padding-top: 0%;
    padding-bottom: 0%; }
  .form-check {
    margin-top: 1em;
    margin-bottom: 1em; }
    .form-check .mujer {
      margin-bottom: 2em; } }

/* Galeria */
@media screen and (max-width: 800px) {
  .galeria .column {
    flex: 50%;
    max-width: 50%; }
    .galeria .column img {
      filter: grayscale(0) brightness(1); } }

@media screen and (max-width: 600px) {
  .galeria .column {
    flex: 100%;
    max-width: 100%; }
    .galeria .column img {
      filter: grayscale(0) brightness(1); } }
