// Variables

// Colores
$colorIae: rgb(0,125,197);
$blanco: #fff;

// Tamaño Fuentes
$fuenteXs: 1rem;
$fuenteS: 1.1em;
$fuenteM: 1.2em;
$fuenteL: 1.3em;
$fuenteXl: 1.5em;
$fuenteH1: 1.8em;
$fuenteH2: 1.6em;

// Tipografía
$parrafo: 'Roboto', sans-serif; 
$titulosH: 'Nunito', sans-serif;
$nav: 'Cairo', sans-serif;
$boton: 'Exo', sans-serif;

// Medidas
$ancho: 720px;
$alto: 1280px;

//Listas
$lista1: red, blue, yellow, green;







